<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.first_name%>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= contact.address %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= contact.birthday %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <a href="//www.twitter.com/<%= contact.twitter %>" target="_blank" class="twitter">
    <%= contact.twitter %>
    </a>
  </p>

</div>
